/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    display: block;
  }
  .search-form {
    width: 100%;
  }
  .search-form .search-input {
    width: 70%;
  }
  .product-list {
    width: 100%;
  }
  .product-list .col {
    width: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .search-form {
    width: 100%;
  }
  .product-list {
    width: 100%;
  }
  .product-list .col {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .search-form {
    width: 20%;
  }
  .product-list {
    width: 80%;
  }
  .product-list .col {
    width: 33.3333%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-list .col {
    width: 25%;
  }
}
